{% extends 'AppClear/base.html' %}


{% block content %}
<div class="container col-4">
    <h1 class="text-center">Welcome Back To Clear Future Website!</h1>
    <div class="container mt-4 w-100 mx-auto">
      {% if msg %}
      <div class="alert alert-danger alert-dismissible fade show"
          role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{msg}}
      </div>
      {% endif %}
  </div>
    <form action="{% url 'accounts:login_user' %}" method="POST" class="container d-flex flex-column gap-2">
      {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center "> sign in </h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
            <label for="floatingInput">User Name</label>
          </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" style="background-color: #006d77; color: white;" type="submit">Sign in</button>
        <a class="text-center "    style=" color: darkslategrey;" href="{% url 'accounts:register_user' %}">I don't have an account</a>
        
      </form>
</div>
{% endblock%}