{% extends "AppClear/base.html" %}
{% load static %}
{% block title %} Update Profile   {% endblock %}

{% block content %}
<div class="container w-75 mx-auto mt-2">
    New Session request:
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client Name</th>
                <th> Appointment Date</th>
                <th> Appointment status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for appointment in pending_appointments%}
            <tr>
                <td> {{appointment.id}} </td>
                <td> {{appointment.user.first_name}}  {{appointment.user.last_name}}</td>
                <td> {{appointment.appointment_date}} </td>
                <td><span class="text-secondary"> {{appointment.status}}</span> </td>
                <td>
                    <div class="row">
                        <div class="col-6">
                            <form class="text-danger" action="{% url 'AppClear:reject_appointment' appointment.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg></button>
                            </form>
                        </div>
                        <div class="col-6">
                            <form class="text-success" action="{% url 'AppClear:approved_appointment' appointment.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                </svg></button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    
    Approved Appointments : 
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client Name</th>
                <th> Appointment Date</th>
                <th> Appointment status</th>
                <th> Meeting Url</th>
                <th> Meeting Password</th>
            </tr>
        </thead>
        <tbody>
            {%for appointment in Approved_appointments%}
            <tr>
                <td> {{appointment.id}} </td>
                <td> {{appointment.user.first_name}}  {{appointment.user.last_name}}</td>
                <td> {{appointment.appointment_date}} </td>
                <td> <span class="text-success">{{appointment.status}}</span> </td>
                <td><a href="{{appointment.url}}"> {{appointment.url}} </a></td>
                <td> {{appointment.meeting_pwd}} </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}