{% extends "AppClear/base.html" %}
{% load static %}
{% block title %} Home Page {% endblock %}

{% block content %}

<div class="container-fluid animate__animated  animate__zoomIn">
    <img src="{% static 'imgs/background.jpg' %}" class="w-100 m-0" style="object-fit: cover; height:60vh; ">
</div>
<div class="container">

    <h3 class="m-2">Best Advisers: </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
            {% for adviser in advisers %}
            <div class="col animate__animated  animate__zoomIn">
                <div class="card shadow-sm p-4">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="{{ adviser.image.url }}" role="img" 
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title></title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text class="mt-2" x="50%" y="50%" fill="#eceeef"
                            dy=".3em">{{adviser.user.first_name}} {{adviser.user.last_name}}</text>
                </img>

                    <div class="card-body">
                        <p class="card-text text-dark">{{adviser.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">{{adviser.role}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>

</div>
{%endblock%}